<h1 class="page-title">Nieuws</h1>

<ul class="article-list">
    <li>
        <article class="article">
            <div>
                <a rel="perma" href="#"><img class="article-img" src="https://www.hgt-tilburg.nl/cache/images/userdata/news-images/200x200/kp-sjaal-verhaal.jpg" alt="" /></a>
            </div>
            <div>
                <div class="content">
                    <h2><a rel="perma" href="#">Benieuwd wat u gaat geven in het kerstpakket dit jaar?</a></h2>
                    <p>Wij zitten onder een dak met de beste kerstpakket leverancier van het land: fritsBRABERSbv kerstpakketten en relatiegeschenken. </p>
                </div>
                <a class="article-more" href="#">Lees meer</a>
            </div>
        </article>
    </li>
    <li>
        <article class="article">
            <div>
                <img class="article-img" src="https://www.hgt-tilburg.nl/cache/images/userdata/news-images/200x200/Kalender.jpg" alt="" />
            </div>
            <div>
                <div class="content">
                    <h2>Benieuwd wat u gaat geven in het kerstpakket dit jaar?</h2>
                    <p>Wij zitten onder een dak met de beste kerstpakket leverancier van het land: fritsBRABERSbv kerstpakketten en relatiegeschenken. </p>
                </div>
                <a class="article-more" href="#">Lees meer</a>
            </div>
        </article>
    </li>
    <li>
        <article class="article">
            <div>
                <img class="article-img" src="https://www.hgt-tilburg.nl/cache/images/userdata/news-images/200x200/kp-sjaal-verhaal.jpg" alt="" />
            </div>
            <div>
                <div class="content">
                    <h2>Benieuwd wat u gaat geven in het kerstpakket dit jaar?</h2>
                    <p>Wij zitten onder een dak met de beste kerstpakket leverancier van het land: fritsBRABERSbv kerstpakketten en relatiegeschenken. </p>
                </div>
                <a class="article-more" href="#">Lees meer</a>
            </div>
        </article>
    </li>

</ul>
