<h1 class="page-title">Benieuwd wat u gaat geven in het kerstpakket dit jaar?</h1>
<article class="article-single article-single-rwd">
    <div>
        <div class="content">
            <p>Lees nu de blog <a href="#">van fritsBRABERSbv</a> kerstpakketten & relatiegeschenken over de leukste producten van de kerstpakket beurzen van dit seizoen.</p>
        </div>
        <ul class="article-gallery">
            <li>
                <a rel="perma" href="#"><img src="https://www.hgt-tilburg.nl/userdata/Ola-2018.jpg" alt="" /></a>
            </li>
            <li>
                <img src="https://www.hgt-tilburg.nl/userdata/Ola-2018.jpg" alt="" />
            </li>
        </ul>
    </div>
    <div>
        <img class="article-img" src="https://www.hgt-tilburg.nl/cache/images/userdata/news-images/200x200/Kalender.jpg" alt="" />
    </div>
</article>