/* components
  ---------------------------------------------------------------------------------------------------------------------- */
/* ----- */

.action-label {
  border-radius: @border-radius;
  text-align: center;
  text-transform: uppercase;
  background-color: @primary-color;
  font-size: @font-size-sm;
  padding: 2px;
  padding-left: 5px;
  padding-right: 5px;
  color: #ffffff;
  display: inline-block;
}


/* modules
  ---------------------------------------------------------------------------------------------------------------------- */
/* ----- */
.action-main  {
  @action-spacing: 20px;

  display: flex;
  align-items: center;

  @media @sm {
    display: block;
  }

  > div {
    flex-grow: 1;
    &:not(:last-child) {
      padding-right: @action-spacing;
      @media @sm {
        padding-right: 0;
      }
    }
  }

  > h2 {
    width: 30%;
    flex-shrink: 0;
    padding-right: @action-spacing;
    font-size: @heading-xs;

    @media @sm {
      width: 100%;
      padding-right: 0;
    }
  }



  .action-button {
    display: flex;
    justify-content: flex-end;
    @media @sm {
      justify-content: flex-start;
    }
  }

  .action-price {
    text-align: right;
    font-weight: @font-weight-bold;
    @media @sm {
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: left;
    }
  }


}

.action-sub {
  display: flex;
  align-items: center;

  .action-label {
    margin-right: 10px;
  }

  > div:not(.action-label) {
    font-style: italic;
    font-size: @font-size-sm;
  }

}




/* main module
  ---------------------------------------------------------------------------------------------------------------------- */
/* ----- */

.actions {
  > li {
    &:not(:last-child) {
      border-bottom: @border;
      margin-bottom: 20px;
      padding-bottom: 20px;
    }
  }

  .action-main {
    margin-bottom: 10px;
  }

}


