/* components
  ---------------------------------------------------------------------------------------------------------------------- */

/* ----- */
.article {

  display: flex;

  > div {
    &:first-child {
      margin-right: 20px;
      width: 25%;
      flex-shrink: 0;
    }

    &:last-child {
      flex-grow: 1;
    }

  }

  a[rel='perma'] {
    display: block;
  }

  .content > h2 a {
    color: @primary-color;
  }

  .article-img {
    max-width: 100%;
    width: auto;
  }

  .article-more {
    color: @primary-color;
    &:hover {
      color: @primary-color;
    }
  }

}

/* ----- */
.article-list {
  > li {
    margin-bottom: @section-space/2;
    border-bottom: @border;
    padding-bottom: @section-space/2;
  }
}

/* responsive */
.article-list-rwd {

  .article {
    @media @xs {
      display: block;
    }

    > div {
      &:first-child {
        @media @xs {
          width: 100%;
          margin-right: 0;
          margin-bottom: 20px;
        }
      }
    }
  }
}

/* ----- */
.article-single {

  display: flex;

  > div {
    &:first-child {
      width: 75%;
      flex-shrink: 0;
      margin-right: @section-space/2;
    }
    &:last-child {
      flex-grow: 1;
    }
  }

  .article-gallery {
    > li {
      &:not(:last-child) {
        margin-bottom: 20px;
      }
    }
  }
}

/* responsive */
.article-single-rwd {
  @media @md {
    border-bottom: @border;
    padding-bottom: @section-space/2;
    margin-bottom: @section-space/2;
  }

  > div {
    &:first-child {
      @media @xs {
        width: 100%;
      }
    }
  }
}
