/* ----- */
.highlight-label {

  .highlight-label-head {
    background-color: @primary-color;
    color: #ffffff;
    padding: 10px 15px 10px 15px;
    border-radius: @border-radius;
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 5px;
  }

  .highlight-label-sub {
    font-size: @font-size-sm;
  }
}

/* ----- */
.highlight-label-rec {
  display: flex;
  background-color: @primary-color;
  color: white;
  padding: 15px;
  font-weight: @font-weight-bold;

  > div {
    &:first-child {
      width: 60%;
      flex-shrink: 0;
    }
    &:last-child {
      flex-grow: 1;
    }
  }

  .highlight-label-rec-price {
    text-align: right;
  }

}

/* specific
  ---------------------------------------------------------------------------------------------------------------------- */

/* ----- */
.order-timer {
  display: flex;
  align-items: center;

  .order-timer-icon {
    margin-right: 5px;
    i {
      color: @primary-color;
      font-size: 18px;
      display: block;
    }
  }

  .order-timer-meta {
    color: @low-key-color;
  }

}


/* ----- */
.product-detail-main {
  a {
    color: #000000;
  }
  .volume {
    color: @low-key-color;
  }
}

/* ----- */
.product-detail-action {
  > div {
    &:last-child {
      font-size: @font-size-sm;
    }
  }
}

/* ----- */
.product-select-price {

  display: flex;
  align-items: center;

  > div {
    &:first-child {
      margin-right: 20px;
    }
  }

  .product-detail-price {
    font-size: @font-size-lg;
    font-weight: @font-weight-bold;
  }

}

/* ----- */
.product-order-unit {
  display: flex;
  align-items: center;

  > div {
    &:first-child {
      margin-right: 20px;
    }
  }
}

/* ----- */
.product-detail-form {
  input.form-control,
  select.form-control {
    width: 150px;
  }

  select.form-control {
    .form-control-select();
    box-shadow: none;
  }
}

/* ----- */
.product-detail-spec {
  > li {
    &:not(:last-child) {
      margin-bottom: @section-space/2;
    }
  }
}

/* ----- */
.product-detail {
  display: flex;

  > div {

    &:first-child {
      width: 35%;
      flex-shrink: 0;
    }

    &:last-child {
      flex-grow: 1;
    }
  }
}

/* responsive */
.product-detail-rwd {
  @media @sm {
    display: block;
  }

  > div {
    &:first-child {
      @media @sm {
        width: 100%;
      }
    }

  }
}
