/* components
  ---------------------------------------------------------------------------------------------------------------------- */

.alert {
  margin-bottom: 30px;
  font-size: @font-size-sm;
  font-weight: @font-weight-semi-bold;

  &.alert-danger {
    color: red;
  }

  &.alert-success {
    color: green;
  }

}

.help-block {
  font-size: @font-size-sm;
  font-weight: @font-weight-semi-bold;
  color: red;
}

.control-label {

  font-weight: @font-weight-semi-bold;
  margin-bottom: 10px;
  display: inline-block;

  &.required:after {
    content: ' *';
    color: red;
  }
}

.form-control {
  box-shadow: @form-control-shadow;
  height: @form-control-height;
  border-radius: @border-radius;
  padding-left: 10px;
  padding-right: 10px;
  width: 100%;
  display: block;
  border: @form-control-border;

}

textarea.form-control {
  height: auto;
  padding-top: 10px;
  padding-bottom: 10px;
}

/* modules
  ---------------------------------------------------------------------------------------------------------------------- */

/* ----- */

.form-sticky {
  display: flex;

  button {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .form-control {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-right: none;
  }
}

/* ----- */

.form-base {

  .help-block {
    margin-top: 10px;
    display: block;
  }

  > .form-group-flex-row {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }

  > .form-group {

    margin-bottom: 10px;

    &.has-error {
      .form-control {
        border: 1px solid red;
      }
    }

  }

  .form-btn-group {
    padding-top: 20px;
  }

  .meta {
    margin-top: 20px;
    display: flex;
    align-items: center;

    a {
      color: @primary-color;
    }

    button {
      margin-right: 20px;
    }

  }
}

/* ----- */

.form-group-flex-row {

  .form-group {
    > div {

      display: flex;

      > div {
        &:first-child {
          margin-right: 20px;
        }
      }

    }
  }

}

/* specific
  ---------------------------------------------------------------------------------------------------------------------- */

.newsletter {

  > div {
    &:first-child {
      width: 60%;
    }
    &:last-child {
      flex-grow: 1;
    }
  }

  button {
    width: 100%;
    text-transform: uppercase;
  }
}

.search {
  .form-control {
    box-sizing: border-box;
  }

}