
.sticky-header {

  .page-header {
    top: -43px;

    @media @md {
      top: 0;
    }
  }

  .logo {
    width: 45px;

    img {
      bottom: auto;
      margin-bottom: auto;
    }
  }

  .header-branding {
    height: 70px;
  }

  .header-sub {

    @media @md {
      transform: translate(0, -80px);
      opacity: 0;
    }

  }

}

/*
  ---------------------------------------------------------------------------------------------------------------------- */

.page-header {
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 9;

}

/*
  ---------------------------------------------------------------------------------------------------------------------- */

.header-main {
  position: relative;
  z-index: 1;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);

  background: #ffffff;
  background: -moz-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
  background: -webkit-linear-gradient(top, #ffffff 0%, #f5f5f5 100%);
  background: linear-gradient(to bottom, #ffffff 0%, #f5f5f5 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffff', endColorstr='#f5f5f5', GradientType=0);

}

.header-sub {
  background-color: @secondary-color;
  padding-top: 20px;
  padding-bottom: 20px;
  box-shadow: 0 5px 5px 0 rgba(0, 0, 0, 0.1);

  .container {
    display: flex;
    > div {
      &:first-child {
        width: 25%;
        flex-shrink: 0;

        @media @md {
          display: none;
        }
      }

      &:last-child {
        flex-grow: 1;
        display: flex;
        justify-content: flex-end;

        > .btn {

          @media @sm {
            display: none;
          }

          &:not(:last-child) {
            margin-right: 10px;
          }
        }

      }

    }

  }

  form {
    margin-right: 50px;

    @media @sm {
      margin-right: 0;
      width: 100%;
    }

    > .form-group {
      @media @sm {
        width: 100%;
      }
    }

    > div {
      &:last-child {
        width: 40px;
        flex-shrink: 0;
      }

      &:first-child {
        @media @sm {
          flex-grow: 1;
        }
      }



    }

  }



}

.logo {
  width: 135px;
  height: auto;
  display: block;

  @media @lg {
    width: 45px;
  }

  img {
    position: relative;
    bottom: -30px;
    margin-bottom: -30px;

    @media @lg {
      bottom: auto;
      margin-bottom: auto;
    }
  }

}

/*
  ---------------------------------------------------------------------------------------------------------------------- */

.header-corporate {

  display: flex;
  border-bottom: @border;
  padding: 10px 0 10px 0;

  @media @md {
    display: none;
  }

  > div {

    @padding: 20px;

    flex-shrink: 0;

    @media @sm {
      width: 100% !important;
      padding: 0 !important;
    }

    &:first-child {
      width: 65%;
      padding-right: @padding;
    }
    &:last-child {
      width: 35%;
      padding-left: @padding;
      text-align: right;
      @media @sm {
        text-align: left;
      }
    }

  }

  a,
  strong {
    color: @primary-color;
    font-weight: @font-weight-bold;
  }

  .phone {

    &:before {
      margin-right: 5px;
      font-family: @fa;
      content: '\f095';
      font-weight: bold;
    }
  }

}

.header-branding {
  height: 100px;
  display: flex;
  align-items: center;
  //padding-top: 10px;
  //padding-bottom: 20px;

  @media @lg {
    height: 70px;
  }

  > div {
    flex-shrink: 0;

    &:last-child {
      flex-grow: 1;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }

}

/*
  ---------------------------------------------------------------------------------------------------------------------- */

.primary-menu-open {

  .page-header {
    position: absolute;
  }

  .primary-menu {

    @media @md {
      right: 0;
    }

  }

  .overlay {
    @media @md {
      display: block;
      width: 100%;
      height: 100%;
      position: fixed;
      top: 0;
      left: 0;
      z-index: 1;
      background-color: rgba(0, 0, 0, 0.75);
    }
  }

  .primary-menu-trigger {
    position: absolute;
    right: 15px;
    top: 20px;
    z-index: 999;

    &:after {
      content: '\f00d';
    }
  }

}

/*
  ---------------------------------------------------------------------------------------------------------------------- */

.overlay {
  display: none;
}

/*
  ---------------------------------------------------------------------------------------------------------------------- */
.primary-menu {

  position: relative;

  @media @md {
    //display: none;
    position: fixed;
    z-index: 2;

    padding: 50px 20px 50px 20px;

    width: 50%;
    height: 100%;
    background-color: #cccccc;

    top: 0;
    right: -50%;

    overflow-y: scroll; /* has to be scroll, not auto */
    -webkit-overflow-scrolling: touch;
  }

  @media @sm {
    width: 100%;
    right: -100%;
  }

  > ul {
    display: flex;

    @media @md {
      display: block;
    }

    > li {

      font-size: @font-size;
      position: relative;

      @media @md {
        border-bottom: 1px solid #e2e2e2;

      }

      &:after {
        @media @md {
          content: '';
          display: block;
          width: 100%;
          height: 1px;
          background-color: #a7a7a7;
          position: absolute;
          bottom: 0;
        }
      }

      &:not(:last-child) {
        @media @md {
          //margin-bottom: 30px;
        }
      }

      > a {
        display: block;
        color: black;
        padding: 10px 15px;
        font-weight: @font-weight-bold;
        border-radius: @border-radius;

        @media @md {
          padding: 0;
          padding-top: 10px;
          padding-bottom: 10px;
          border-radius: 0;
        }

        &:hover {
          color: white;
          background-color: @primary-color;

          @media @md {
            color: @primary-color;
            background-color: transparent;
          }

        }
      }

      &.has-sub {
        position: relative;

        &:hover {
          > a {
            border-bottom-left-radius: 0;
            border-bottom-right-radius: 0;
            color: white;
            background-color: @primary-color;

            @media @md {
              color: black;
              background-color: transparent;
            }

          }

          > div {
            display: flex;

            @media @md {
              display: block;
            }

          }
        }

        > div {
          position: absolute;
          //display: flex;
          display: none;

          background-color: @primary-color;
          border-bottom-left-radius: @border-radius;
          border-bottom-right-radius: @border-radius;
          padding: 25px;

          @media @md {
            padding: 0;
            padding-left: 20px;
            padding-bottom: 10px;
            position: initial;
            display: block;
            width: 100%;
            border-radius: 0;
            background-color: transparent;
          }

          &:hover {
            display: flex;
            @media @md {
              display: block;
            }
          }

          ul.sub {
            &:not(:last-child) {
              margin-right: 40px;
              @media @md {
                margin-right: 0;
              }
            }
          }
        }

        ul.sub {
          > li {
            min-width: 270px;
            max-width: 270px;
            border-bottom: 1px solid white;

            @media @md {
              min-width: 0;
              max-width: none;
              border-bottom: 0;
            }

            > a {
              display: block;
              padding-bottom: 7px;
              padding-top: 7px;
              color: white;

              @media @md {
                color: black;
              }

            }
          }
        }
      }
    }
  }
}

/*
  ---------------------------------------------------------------------------------------------------------------------- */
.primary-menu-trigger {
  width: 30px;
  height: 30px;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: @primary-color;

  @media @md {
    display: flex;
  }

  &:after {
    content: '\f0c9';
    font-family: @fa;
    font-weight: bold;
    color: white;
    font-size: 14px;
    display: block;
  }
}