.template-sidebar {

  aside {
    padding-right: @grid-gutter-width/2;
  }

  > .row {

    @media @sm {
      display: flex;
      flex-direction: column-reverse;
    }

    > div {

      &:last-child {
        @media @sm {
          margin-bottom: @section-space;
        }
      }
    }
  }
}

.template-2-cols {

  .row {

    > div {
      &:not(:last-child) {
        margin-bottom: @section-space;
      }
    }

  }
}


.template-catalog {


  > .row {

    @media @md {
      display: flex;
      flex-direction: column-reverse;
    }

  }

}