.template-sidebar {

  aside {
    padding-right: @grid-gutter-width/2;
  }

  > .row {

    @media @sm {
      display: flex;
      flex-direction: column-reverse;
    }

    > div {

      &:last-child {
        @media @sm {
          margin-bottom: @grid-gutter-width * 2;
        }
      }
    }
  }
}

.template {
  .content {
    margin-bottom: 50px;
  }
}