/* components
  ---------------------------------------------------------------------------------------------------------------------- */

/* ----- */
.table-order-basic {
  .table-base();

  > li {
    > div {
      &:first-child {
        width: 50%;
      }
    }
  }

  .table-order-basic-entry {
    font-weight: @font-weight-bold;
  }
}

/* ----- */
.table-order {

  .table-base();
  .table-bg();

  > li {
    > div {
      width: 100%/5;

      &:first-child {
        width: 30%;
      }
    }
  }

  .table-order-article {
    font-weight: @font-weight-bold;
  }

  .table-order-price {
    text-align: right;
  }

}

/* responsive */
.table-order-rwd {

  > li {
    @media @sm {
      display: block;
    }

    > div {
      @media @sm {
        width: 100%;
      }
      &:first-child {
        @media @sm {
          width: 100%;
        }
      }
    }
  }

  .table-order-price {
    @media @sm {
      text-align: left;
    }
  }

}

/* ----- */
.table-order-total {
  display: flex;
  background-color: @primary-color;
  color: white;
  padding: 15px;
  font-weight: @font-weight-bold;

  > div {
    &:first-child {
      width: 60%;
      flex-shrink: 0;
    }
    &:last-child {
      flex-grow: 1;
    }
  }

  .table-order-total-price {
    text-align: right;
  }

}

/* ----- */
.table-overview {

  .table-overview-header-meta {
    display: none;
  }

  .table-overview-table {

    .table-base();
    .table-bg();

    > li {
      > div {
        width: 100%/3;
      }
    }
  }

  .table-overview-header {
    font-weight: @font-weight-bold;
    display: flex;

    > div {
      padding-left: 10px;
      padding-right: 10px;
      width: 100%/3;
      flex-shrink: 0;
      flex-grow: 1;
    }
  }

}

/* responsive */
.table-overview-rwd {

  .table-overview-header {
    @media @sm {
      display: none;
    }
  }

  .table-overview-header-meta {
    @media @sm {
      display: inline-block;
    }
  }

  .table-overview-table {
    > li {
      @media @sm {
        display: block;
      }

      > div {
        @media @sm {
          width: 100%;
          display: flex;
        }

        > span {
          width: 50%;
          flex-grow: 1;
          &:first-child {
            width: 20%;
            flex-shrink: 0;
          }
        }
      }
    }
  }
}

/* ----- */
.table-number {
  display: flex;
  align-items: center;
  > div {
    width: 20%;
    flex-grow: 1;
    &:not(:last-child) {
      padding-right: 20px;
    }
    &:first-child {
      width: 15%;
    }
    &:nth-child(2) {
      width: 40%;
    }
  }

  h2 {
    font-size: @heading-xs;
    color: @primary-color;
  }

  .table-number-price {
    text-align: right;
    font-size: @font-size-md-sub;
    font-weight: @font-weight-bold;
  }

  /* modifier: table-number-price */
  .table-number-price-icon {
    &:after {
      content: '\f017';
      font-family: @fa;
      font-weight: @font-weight-bold;
    }
  }

  .table-number-meta {
    color: @low-key-color;
  }

}


/* ----- */
.unit-list {

  .listing-base();

  .unit-list-meta {
    margin-top: 10px;
    display: flex;
    align-items: flex-start;
    > div {
      flex-grow: 1;
      width: 50%;
      &:last-child {
        display: flex;
        justify-content: flex-end;
      }
    }
  }

  .highlight-label {
    .highlight-label-head {
      max-width: 200px;
    }
  }

}

/* rwd */
.unit-list-rwd {

  .unit-list-meta {
    @media @sm {
      display: block;
    }

    > div {
      @media @sm {
        width: 100%;
      }
      &:last-child {
        @media @sm {
          margin-top: 10px;
          display: block;
        }
      }
    }
  }

  .table-number {
    @media @sm {
      display: block;
    }

    h2 {
      @media @md {
        font-size: @heading-xs * 0.75;
      }
    }

    > div {
      @media @sm {
        width: 100%;
      }

      &:not(:last-child) {
        @media @sm {
          padding-right: 0;
          margin-bottom: 10px;
        }
      }
      &:first-child {
        @media @sm {
          width: 100%;
        }
      }
      &:nth-child(2) {
        @media @sm {
          width: 100%;
        }
      }
    }
  }
}


