var gulp            = require('gulp'),
    less            = require('gulp-less'),
    browserSync     = require('browser-sync').create(),
    sourcemaps      = require('gulp-sourcemaps'),
    prefix          = require('gulp-autoprefixer'),
    reload          = browserSync.reload,
    imagemin        = require('gulp-imagemin'),
    imageminMozjpeg = require('imagemin-mozjpeg'),
    runSequence     = require('run-sequence'),
    cleanCSS        = require('gulp-clean-css'),
    concat          = require('gulp-concat');

var website = {};
website.domain = 'hgt.ontwikkel.webdesigntilburg.nl'; // Define your domain

var sourceFolder = 'assets/';
var ouputFolder = 'web/assets/';

gulp.task('less', function() {
    gulp.src(sourceFolder + 'less/main.less')
        .pipe(sourcemaps.init())
        .pipe(less())
        .pipe(prefix({
            browsers: ['last 2 versions', 'ie 9', 'android 4', 'safari 7']
        }))
        .pipe(sourcemaps.write('../css'))
        .pipe(gulp.dest(ouputFolder + 'css'));
    reload();
});

gulp.task('optimize-images', function() {
    gulp.src(sourceFolder + 'images/**/*')
        .pipe(imagemin([
            imagemin.gifsicle({interlaced: true}),
            imageminMozjpeg({quality: 80}),
            imagemin.optipng({optimizationLevel: 5}),
            imagemin.svgo({
                plugins: [
                    {cleanupIDs: true},
                    {removeTitle: true}
                ]
            })
        ]))
        .pipe(gulp.dest(ouputFolder + 'images'));

    gulp.src(sourceFolder + 'svg/*')
        .pipe(imagemin([
            imagemin.svgo({
                plugins: [
                    {cleanupIDs: false},
                    {removeDimensions: true},
                    {removeTitle: true}
                ]
            })
        ]))
        .pipe(gulp.dest(ouputFolder + 'svg'));
});

gulp.task('minify-css', function() {
    return gulp.src(ouputFolder + 'css/main.css')
        .pipe(cleanCSS())
        .pipe(concat('app.css'))
        .pipe(gulp.dest(ouputFolder + 'css'));
});

gulp.task('watch', function() {
    browserSync.init({
        proxy: "http://" + website.domain + "/",
        host: website.domain,
        open: 'external'
    });

    gulp.watch(sourceFolder + 'less/**/*.less', ['less']);
    gulp.watch(ouputFolder + 'js/**/*.js').on("change", reload);
    gulp.watch('app/Resources/views/**/*.html.twig').on("change", reload);
});

gulp.task('deploy', function(callback) {
    runSequence(
        'optimize-images',
        'minify-css',
        callback
    );
});
