<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
    <style type="text/css">
        body, td {
            color: #2f2f2f;
            font: 14px Arial, Helvetica, sans-serif;
        }

        p {
            margin-bottom: 15px;
        }

        table#tableWrapper {
            padding-left: 58px !important;
            padding-right: 58px !important;
            width: 600px !important;
        }

        body {
            background: #f5f5f5;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            margin: 0;
            padding: 0;
        }

        body > div {
            background: #f5f5f5;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 14px;
            margin: 0;
            padding: 0;
            border: 0
        }

        a {
            color: #ff671f;
        }
    </style>
</head>
<body>
    <div>
        <table cellspacing="0" cellpadding="0" border="0" width="100%">
            <tr>
                <td align="center" valign="top" style="padding-bottom:100px;">
                    <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="10" border="0" width="600" id="tableWrapper">
                        <tr>
                            <td valign="top" colspan="2">
                                {% block body %}{% endblock %}
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <p>
                                    Met vriendelijke groet,<br>
                                    <br>
                                    Horeca Groothandel Tilburg B.V.<br>
                                    Polluxstraat 6<br>
                                    5047 RB Tilburg<br>
                                    T: 013-5711790<br>
                                    F: 013-5711597<br>
                                    E: <a href="mailto:verkoop@hgt-tilburg.nl">verkoop@hgt-tilburg.nl</a><br>
                                    <br>
                                    <a href="https://www.hgt-tilburg.nl">
                                        <img src="https://www.hgt-tilburg.nl/images/mail/logo.png"
                                             alt="Horeca Groothandel Tilburg">
                                    </a>
                                </p>
                            </td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>
