{% extends 'layout/base.html.twig' %}

{% block bodyClass %}{% endblock %}

{% block body %}
    <div class="container">
        {{ include('_partials/page/breadcrumbs.html.twig') }}
        <h1 class="page-title">Winkelwagen</h1>
        <div class="content is-section">
            <p>Let op! Gelieve in het tekstveld "Opmerking" geen bestelling invullen. Voeg deze producten toe aan uw
                winkelwagen of geef deze door via e-mail aan <a href="mailto:verkoop@hgt-tilburg.nl">verkoop@hgt-tilburg.nl</a>.
                Hiermee helpt u foutieve levering of manco's voorkomen. Bij voorbaat dank!</p>
        </div>
        <ul class="list-cart list-cart-rwd is-section">
            <li>
                <div class="list-cart-table">
                    <div>
                        <div class="list-cart-head">
                            <a class="list-cart-head-icon" href="#"><i class="fas fa-trash-alt"></i></a>
                            <h2 class="table-section-base-header"><a href="#">Aardappel schijfjes</a></h2>
                        </div>
                    </div>
                    <div>
                        <div class="list-cart-meta-container">
                            <div class="list-cart-meta">Aviko</div>
                            <div class="table-section-base-meta">2.5k | Zak</div>
                        </div>
                    </div>
                    <div>
                        <div class="list-cart-unit">
                            <div><input class="form-control" type="number"/></div>
                            <div class="table-section-base-price">&euro; 4,60</div>

                        </div>
                    </div>
                </div>
                <div class="list-cart-timer">
                    <div class="order-timer">
                        <div class="order-timer-icon"><i class="far fa-clock"></i></div>
                        <div class="order-timer-meta">Dit product wordt nabesteld</div>
                    </div>
                </div>
            </li>
            <li>
                <div class="list-cart-table">
                    <div>
                        <div class="list-cart-head">
                            <a class="list-cart-head-icon" href="#"><i class="fas fa-trash-alt"></i></a>
                            <h2 class="table-section-base-header"><a href="#">Aardappel schijfjes</a></h2>
                        </div>
                    </div>
                    <div>
                        <div class="list-cart-meta-container">
                            <div class="list-cart-meta">Aviko</div>
                            <div class="table-section-base-meta">2.5k | Zak</div>
                        </div>
                    </div>
                    <div>
                        <div class="list-cart-unit">
                            <div><input class="form-control" type="number"/></div>
                            <div class="table-section-base-price">&euro; 4,60</div>

                        </div>
                    </div>
                </div>
                <div class="list-cart-timer">
                    <div class="order-timer">
                        <div class="order-timer-icon"><i class="far fa-clock"></i></div>
                        <div class="order-timer-meta">Dit product wordt nabesteld</div>
                    </div>
                </div>
            </li>
            <li>
                <div class="list-cart-table">
                    <div>
                        <div class="list-cart-head">
                            <a class="list-cart-head-icon" href="#"><i class="fas fa-trash-alt"></i></a>
                            <h2 class="table-section-base-header"><a href="#">Aardappel schijfjes</a></h2>
                        </div>
                    </div>
                    <div>
                        <div class="list-cart-meta-container">
                            <div class="list-cart-meta">Aviko</div>
                            <div class="table-section-base-meta">2.5k | Zak</div>
                        </div>
                    </div>
                    <div>
                        <div class="list-cart-unit">
                            <div><input class="form-control" type="number"/></div>
                            <div class="table-section-base-price">&euro; 4,60</div>

                        </div>
                    </div>
                </div>
                <div class="list-cart-timer">
                    <div class="order-timer">
                        <div class="order-timer-icon"><i class="far fa-clock"></i></div>
                        <div class="order-timer-meta">Dit product wordt nabesteld</div>
                    </div>
                </div>
            </li>
        </ul>
        <div class="table-summary table-summary-rwd is-section">
            <div>
                <div class="table-summary-update">
                    <button class="btn">Verder winkelen</button>
                    <a role="button">Bijwerken</a>
                </div>
            </div>
            <div>
                <div class="table-summary-price">
                    <div><strong>Totaalbedrag (excl. btw)</strong></div>
                    <div>&euro; 31,30</div>
                </div>
            </div>
        </div>
        <div class="cart-misc">
            <div class="row">
                <div class="col-sm-6"></div>
                <div class="col-sm-6">
                    <div class="cart-misc-fields">
                        <div class="form-base">
                            <div class="form-group">
                                <label class="control-label">Opmerking:</label>
                                <textarea title="" class="form-control"></textarea>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Selecteer afleverdag:</label>
                                <input type="text" class="form-control"/>
                            </div>
                            <div class="form-group">
                                <label class="control-label">Referenetie:</label>
                                <input type="text" class="form-control"/>
                            </div>
                            <div class="form-btn-group">
                                <button class="btn btn-highlight">Plaats bestelling</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
