{% extends 'layout/base.html.twig' %}

{% block bodyClass %}checkout-cart-success{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="page-title">Bestelling afgerond</h1>
        <p>Uw bestelling is succesvol afgerond. Bedankt.</p>
    </div>
{% endblock %}
