{% extends 'layout/base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 text-center">
                <h1>Horeca Groothandel Tilburg</h1>
            </div>
        </div>
    </div>
{% endblock %}
