@grid-gutter-width: 30px;

@container-tablet: (720px + @grid-gutter-width);
@container-sm: @container-tablet;
@container-desktop: (940px + @grid-gutter-width);
@container-md: @container-desktop;
@container-large-desktop: (1140px + @grid-gutter-width);
@container-lg: @container-large-desktop;

@header-height: 221px;

@lg: ~"(max-width: @{screen-md-max})";
@md: ~"(max-width: @{screen-sm-max})";
@sm: ~"(max-width: @{screen-sm-min})";
@xs: ~"(max-width: @{screen-xs})";

@images: "../images";
@svg: "../svg";

@primary-color: #ff671e;
@secondary-color: #fec62b;
@highlight-color: #009900;


@fa: 'FontAwesome';
@font-family: 'Open Sans', sans-serif;

@font-weight-light: 300;
@font-weight: 400;
@font-weight-semi-bold: 600;
@font-weight-bold: 700;
@font-weight-extra-bold: 800;

@font-size-sm: 12px;
@font-size: 14px;
@font-size-md: 16px;
@font-size-md-sub: 18px;
@font-size-lg: 24px;

@heading-sm: 25px;
@heading: 32px;
@heading-md: 38px;
@heading-lg: 40px;

@line-height-heading: 1.1;
@line-height: 1.4;

@border: 1px solid #cccccc;
@border-radius: 5px;

@form-control-shadow: inset 3px 3px 3px 1px #dddddd;
@form-control-height: 40px;
@form-control-height-lg: 70px;
@form-control-border: 1px solid #aaa;

@bevel: inset 2px 2px 2px rgba(255, 255, 255, .4), inset -2px -2px 2px rgba(0, 0, 0, .4);