{% extends 'layout/base.html.twig' %}

{% block bodyClass %}account-index{% endblock %}

{% block body %}
    <div class="container layout-flip-sidebar-sm">
        {{ include('_partials/page/breadcrumbs.html.twig') }}
        <div class="row main-row">
            <div class="col-sm-3">
                {{ include('_partials/account/list.html.twig') }}
            </div>
            <div class="col-sm-9">
                <h1 class="page-title">Mijn account</h1>
                <div class="content">
                    <p>
                        Welkom <strong>{{ app.user.name }}</strong>
                            {% if app.user.company %}
                                ({{ app.user.company }})
                            {% endif %}.
                        U bevindt zich in uw account.
                    </p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
