{% extends 'layout/base.html.twig' %}

{% block bodyClass %}account-index account-index-order-overview{% endblock %}

{% block body %}
    <div class="container layout-flip-sidebar-sm">
        {{ include('_partials/page/breadcrumbs.html.twig') }}
        <div class="row main-row">
            <div class="col-sm-3">
                {{ include('_partials/account/list.html.twig') }}
            </div>
            <div class="col-sm-9">
                <h1 class="page-title">Bestellijst aanpassen</h1>
                <div class="content is-section"><p>Pas hier uw bestellijst aan.</p></div>

                {{ form_start(form) }}

                {% for product in form.products %}

                {% endfor %}
                {{ form_end(form) }}

                <ul id="sortable" class="list-edit list-edit-rwd is-section hidden">
                    <li>
                        <div class="table-edit">
                            <div>
                                <div class="table-edit-head">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
                                        </label>
                                    </div>
                                    <h2 class="table-section-base-header">Groene thee lemon</h2>
                                </div>
                            </div>
                            <div>Pickwick</div>
                            <div>
                                <div class="table-section-base-meta">3st. | Overdoos</div>
                            </div>
                            <div>
                                <div class="table-edit-icon"><i class="fas fa-bars"></i></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="table-edit">
                            <div>
                                <div class="table-edit-head">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
                                        </label>
                                    </div>
                                    <h2 class="table-section-base-header">Groene thee lemon</h2>
                                </div>
                            </div>
                            <div>Pickwick</div>
                            <div>
                                <div class="table-section-base-meta">3st. | Overdoos</div>
                            </div>
                            <div>
                                <div class="table-edit-icon"><i class="fas fa-bars"></i></div>
                            </div>
                        </div>
                    </li>
                    <li>
                        <div class="table-edit">
                            <div>
                                <div class="table-edit-head">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox" id="blankCheckbox" value="option1" aria-label="...">
                                        </label>
                                    </div>
                                    <h2 class="table-section-base-header">Groene thee lemon</h2>
                                </div>
                            </div>
                            <div>Pickwick</div>
                            <div>
                                <div class="table-section-base-meta">3st. | Overdoos</div>
                            </div>
                            <div>
                                <div class="table-edit-icon"><i class="fas fa-bars"></i></div>
                            </div>
                        </div>
                    </li>
                </ul>
                <div class="tar">
                    <button type="submit" class="btn btn-special">Verwijderen</button>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script>
        $(document).ready(function () {
            $('#sortable').sortable({
                revert: true
            });
        });
    </script>
{% endblock %}
