{% extends 'layout/base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Nieuw wachtwoord is verzonden</h1>
                <p>Nieuw wachtwoord is verzonden</p>
            </div>
        </div>
    </div>
{% endblock %}
