{% extends 'layout/base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Wachtwoord vergeten?</h1>
                <p>Voer uw gebruikersnaam in om uw wachtwoord opnieuw in te stellen.</p>
            </div>

            {{ form_start(form) }}
                <div class="col-md-4">
                    {{ form_row(form.account_username) }}
                </div>
                <div class="col-md-3">
                    <button class="btn btn-primary btn-block" type="submit">Verzenden</button>
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

