{% extends 'layout/base.html.twig' %}

{% block body %}

  <div class="container">
    <h1 class="page-title">Wachtwoord vergeten?</h1>

    <div class="content content-margin">
      <p>Voer uw gebruikersnaam in om uw wachtwoord opnieuw in te stellen.</p>
    </div>

    <div class="row">
      <div class="col-md-6">
        {{ form_start(form, {'attr': {'class': 'login-form form-base'}}) }}
        {% include 'components/_flash-message.html.twig' %}
        {{ form_row(form.account_username) }}
        <div class="meta">
          <button class="btn btn-special" type="submit">Verzenden</button>
        </div>

        {{ form_end(form) }}
      </div>
    </div>

  </div>
{% endblock %}

