{% extends 'layout/base.html.twig' %}

{% block body %}
  <div class="container">
    <h1 class="page-title">Wachtwoord</h1>
    <div class="content content-margin">
      <p>Wachtwoord vergeten verzonden.</p>
    </div>
  </div>
{% endblock %}


