<ul class="list-item list-item-alt">
    {% for category in categories %}
        <li>
            <a href="{{ path('category_view', {'id': category.id }) }}" class="btn-list {% if app.request.attributes.get('id') == category.id %}is-active{% endif %}">
                {{ category.name }}
                <span class="icon"><i class="fa fa-chevron-right"></i></span>
            </a>
        </li>
    {% endfor %}
</ul>



