<ul>
    <li><a href="{{ path('homepage') }}">Home</a></li>
    <li><a href="{{ path('category_index') }}">Categorieën</a></li>
    <li><a href="#">Acties</a></li>
    <li><a href="#">Folder</a></li>
    <li><a href="#">Kerstpaketten</a></li>
    <li><a href="#">Nieuws</a></li>
    <li><a href="#">Over ons</a></li>
    <li><a href="#">Contact</a></li>
</ul>
