<nav class="primary-menu">
    <ul>
        <li><a href="{{ path('homepage') }}" title="Home">Home</a></li>
        <li class="has-sub">
            <a href="{{ path('category_index') }}" title="Assortiment">Assortiment</a>
            <div>
                <ul class="sub">
                    <li><a href="#" title="Acties">Acties Acties Acties Acties Acties Acties Acties Acties Acties</a></li>
                    <li><a href="#" title="Acties">Acties</a></li>
                    <li><a href="#" title="Acties">Acties</a></li>
                    <li><a href="#" title="Acties">Acties</a></li>
                    <li><a href="#" title="Acties">Acties</a></li>
                    <li><a href="#" title="Acties">Acties</a></li>
                    <li><a href="#" title="Acties">Acties</a></li>
                </ul>
                <ul class="sub">
                    <li><a href="#" title="Acties">Acties</a></li>
                    <li><a href="#" title="Acties">Acties</a></li>
                    <li><a href="#" title="Acties">Acties</a></li>
                    <li><a href="#" title="Acties">Acties</a></li>
                    <li><a href="#" title="Acties">Acties</a></li>
                    <li><a href="#" title="Acties">Acties</a></li>
                    <li><a href="#" title="Acties">Acties</a></li>
                </ul>
            </div>
        </li>
        <li><a href="#" title="Acties">Acties</a></li>
        <li><a href="{{ path('folder_index') }}" title="Folder">Folder</a></li>
        <li><a href="#" title="Kerstpakketten">Kerstpakketten</a></li>
        <li><a href="#" title="Nieuws">Nieuws</a></li>
        <li><a href="#" title="Over ons">Over ons</a></li>
        <li><a href="#" title="Contact">Contact</a></li>
    </ul>
</nav>
