{% extends 'layout/base.html.twig' %}

{% block bodyClass %}account-index account-index-order{% endblock %}

{% block body %}
    <div class="container">
        {{ include('_partials/page/breadcrumbs.html.twig') }}
        <h1 class="page-title">Mijn bestellijst</h1>

        <ul class="table-number">

        </ul>

    </div>
{% endblock %}
