{% extends 'layout/base.html.twig' %}

{% block bodyClass %}catalog-page{% endblock %}

{% block body %}
    <div class="template-catalog container">
        <div class="row">
            <div class="col-md-3">
                {% if categories %}
                    {% include '_partials/catalog/category/list.html.twig' with {'categories' : categories } %}
                {% endif %}
            </div>
            <div class="col-md-9">
                <h1 class="page-title">Ons assortiment</h1>
                {% if categories %}
                    {% include '_partials/catalog/product/list.html.twig' with {'categories' : categories } %}
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
