{% extends 'layout/base.html.twig' %}

{% block bodyClass %}catalog-page{% endblock %}

{% block body %}
    <div class="template-catalog container">
        <div class="row">
            <div class="col-md-3">
                {% if category.parent %}
                    <a href="{{ path('category_view', {'id': category.parent.id }) }}" class="btn-border">
                        <i class="fas fa-arrow-left"></i>
                        <span>Terug</span>
                    </a>
                {% else %}
                    <a href="{{ path('category_index') }}" class="btn-border">
                        <i class="fas fa-arrow-left"></i>
                        <span>Terug</span>
                    </a>
                {% endif %}

                {% if parentCategories %}
                    {% include '_partials/catalog/category/list.html.twig' with {'categories' : parentCategories } %}
                {% endif %}

            </div>
            <div class="col-md-9">
                <h1 class="page-title">{{ category.name }}</h1>
                {% if categories %}
                    {% include '_partials/catalog/product/list.html.twig' with {'categories' : categories } %}
                {% else %}
                    <div class="content">
                        {% if category.products %}
                            {% for product in category.products %}
                                {{ include('_partials/catalog/product/item.html.twig', {'product' : product }) }}
                            {% endfor %}
                        {% else %}
                            <p>Geen categorieën/producten gevonden in deze categorie.</p>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
