{% extends 'emails/base.html.twig' %}
{% block body %}
    <p>
        Beste {{ data.name }},<br><br>
        Hierbij zenden wij u een nieuw wachtwoord voor onze website.<br>
        Gebruikersnaam: {{ data.username }}<br>
        Wachtwoord: {{ data.password }}
    </p>
{% endblock %}
