{% extends 'emails/base.html.twig' %}

{% block body %}
    <p>
        Beste {{ data.name }},
        <br><br>
        Er is een verzoek geweest om het wachtwoord van uw account te wijzigen.
        <br><br>
        Als u dit verzoek zelf heeft gedaan, kunt u op de volgende link klikken om uw wachtwoord te wijzigen:
        <a href="{{ url('account_password_reset', {'hash': data.hash}) }}">
            {{ url('account_password_reset', {'hash': data.hash}) }}
        </a>
        <br><br>
        Mocht klikken op de link resulteren in een foutmelding, kopieer de link dan en plak hem in de adresbalk
        van uw browser.
        <br><br>
        Als u niet zelf het verzoek om uw wachtwoord te wijzigen heeft gedaan, kunt u deze e-mail negeren. Uw
        wachtwoord blijft dan hetzelfde.
    </p>
{% endblock %}
