{% extends 'layout/base.html.twig' %}


{% block body %}

  <div class="template-sidebar container">
    <div class="row">
      <div class="col-sm-4 col-md-3">
        {{ include('folder/sidebar.html.twig') }}
      </div>
      <div class="col-sm-8 col-md-9">
        {{ include('folder/folder-overview.html.twig') }}
      </div>
    </div>
  </div>

{% endblock %}













