/* ----- */
.table-base {
  > li {
    display: flex;

    > div {
      flex-grow: 1;

      &:first-child {
        flex-shrink: 0;
        flex-grow: 0;
      }
    }
  }
}

/* ----- */
.table-bg {

  > li {
    padding-top: 5px;
    padding-bottom: 5px;

    &:nth-child(even) {
      border-bottom: @border;
      border-top: @border;
      background-color: #e2e2e2;
    }

    > div {
      padding-left: 10px;
      padding-right: 10px;
    }
  }
}

/* ----- */
.listing-base {
  > li {
    &:not(:last-child) {
      border-bottom: @border;
      margin-bottom: @section-space/2;
      padding-bottom: @section-space/2;
    }
  }
}
