<ul class="item-list item-list-alt">
    <li>
        <a href="#" class="listing"> test
            <span class="icon"><i class="fa fa-chevron-right"></i></span>
        </a>
    </li>
    <li>
        <a href="#" class="listing"> test
            <span class="icon"><i class="fa fa-chevron-right"></i></span>
        </a>
    </li>
    <li>
        <a href="#" class="listing"> test
            <span class="icon"><i class="fa fa-chevron-right"></i></span>
        </a>
    </li>
    <li>
        <a href="#" class="listing"> test
            <span class="icon"><i class="fa fa-chevron-right"></i></span>
        </a>
    </li>
    <li>
        <a href="#" class="listing"> test
            <span class="icon"><i class="fa fa-chevron-right"></i></span>
        </a>
    </li>
    <li>
        <a href="#" class="listing"> test
            <span class="icon"><i class="fa fa-chevron-right"></i></span>
        </a>
    </li>
</ul>