{% extends 'layout/base.html.twig' %}


{% block body %}

  <div class="container">
    <h1 class="page-title">Bevestiging</h1>
    <div class="content content-margin">
      <p>Bedankt voor uw aanmelding.</p>
    </div>
  </div>


{% endblock %}