{% extends 'layout/base.html.twig' %}

{% block bodyClass %}contact-confirm{% endblock %}

{% block body %}
    <div class="container">
        <h1 class="page-title">Bevestiging</h1>
        <div class="content content-margin">
            <p>Bedankt voor uw bericht. We zullen u zo spoedig mogelijk beantwoorden.</p>
        </div>
    </div>
{% endblock %}
